.header {
  background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
  background-image: url('./assets/img/Vector.png'),url('./assets/img/Vector-1.png');
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: top right , bottom left;
  height: 40vh;
  padding: 40px;
}

@media (max-width: 768px) {
  .header {
    background-size: 300px;
    background-position: top right , bottom left;
    height: 30vh;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .header {
    background-size: 200px;
    background-position: center center;
    height: 20vh;
    padding: 10px;
  }
}
